PORT=4000
CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/collab_notes
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL = 
REDIS_PASSWORD=
NODE_ENV=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d